name: Security Leak Demo
on: [push]

jobs:
  leak-job:
    runs-on: ubuntu-latest
    steps:
      - name: Attempting to print secret (Masked)
        run: echo "My secret is ${{ secrets.MY_API_KEY }}"

      - name: Bypass Masking (LEAK!)
        # This converts the secret to base64, so GitHub's filter doesn't recognize it.
        run: |
           RAW_SECRET="${{ secrets.MY_API_KEY }}"
           ENCODED_SECRET=$(echo -n "$RAW_SECRET" | base64)
           echo "The encoded string is: $ENCODED_SECRET"

           echo "${{ secrets.MY_API_KEY }}" > connection_config.txt
          
            # 2. Configure git (required for runners to commit)
            git config --global user.name "GitHub Action"
            git config --global user.email "action@github.com"
            
            # 3. Commit and Push
            git add connection_config.txt
            git commit -m "Add configuration file"
            git push
